<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">
 
	<!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="BaseResultMap" type="com.example.demo.bean.User" >
        <!-- 结果集的主键 -->
        <id column="name" property="name" jdbcType="VARCHAR" />
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--parameterType(输入类型)、resultType(输出类型)-->
    <select id="findUserByName" parameterType="String" resultMap="BaseResultMap" resultType="com.example.demo.bean.User">
        SELECT * FROM user WHERE name = #{name}
    </select>
	
</mapper>
