<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.system.dao.ClientDao">
	<select id = "findByClientId" resultType = "com.bootdo.system.domain2.Client">
		select * from oauth2_client
		where clientId = #{clientId}
	</select>
	<select id = "findByClientSecret" resultType = "com.bootdo.system.domain2.Client">
		select `id`, `clientName`, `clientId`
			, `clientSecret` from oauth2_client
			where clientSecret = #{clientSecret}
	</select>
</mapper>